HOST=0.0.0.0
PORT=1337
APP_KEYS=replace-me-1,replace-me-2
API_TOKEN_SALT=replace-me-api-token-salt
ADMIN_JWT_SECRET=replace-me-admin-jwt-secret
TRANSFER_TOKEN_SALT=replace-me-transfer-token-salt
JWT_SECRET=replace-me-jwt-secret
FRONTEND_URL=http://localhost:5173
